.text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none; color: #CCCCCC}
a.lk:link  {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 3px; color: #000033; text-decoration: none}
a.lk:visited {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 3px; color: #000033; text-decoration: none}
a.lk:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 3px; color: #000033; text-decoration: none}
